

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16vh;
    padding: 10px;
    font-style: italic;
    color: orange;
}


.bigContainer{
    text-align: center;
    align-items: center;
    margin: 20px;
}
#carouselExampleIndicators{
    align-items: center;
    text-align: center;

}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
}

#videoBG {
    position: fixed;
    z-index: -1;
    opacity: 1;


}
@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videoBG{
        width: auto;
        height: 100%;
    }
}

.departure {
    background: linear-gradient(45deg, orange , blue);
    align-items: center;
    text-align: center;
    width: 450px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
    margin-top: 60px;
    opacity: 0.9;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-label {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: 10px;
}

.form .mb-3 {
    padding: 8px 15px;
    background:rgba(255,255,255, 0.2);
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;

}
