.add-post {
    margin: 25px 0;
}

.user-profile {
    margin: 25px 0;
    font-size: 22px;
}



h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16vh;
    padding: 10px;
    font-style: italic;
    color: orange;
}

.tutorPlatform{
    display: flex;
    align-items: center;
    justify-content: center;
}

#videoBG {
    position: fixed;
    z-index: -1;
    opacity: 1;


}
@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videoBG{
        width: auto;
        height: 100%;
    }
}

.departure {
    background: linear-gradient(45deg, orange , blue);
    align-items: center;
    text-align: center;
    width: 450px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
    margin-top: 60px;
    opacity: 0.9;
}

.container {
    display:flex;
    justify-content: space-evenly;
}